<h2 th:text="${email}"></h2>
<form method="post" action="/login/clave">
  <label for="clave">Clave: </label>
  <input name="clave" id="clave" type="password"/>
  <br>
  <th:block th:if="${error}!=null">
    <label class="rojo" th:text="${error}"></label>
    <br>
  </th:block>
  <input type="button" value="Mostrar Contraseña" onmousedown="showPassword('clave', 'confirmarClave')" onmouseup="hidePassword('clave', 'confirmarClave')"/>
  <input type="submit" value="Enviar"/>
  <input type="reset" value="Reesttablecer">
</form>