<a href="http://localhost:8080/aviso/listado">Avisos</a>
<a href="http://localhost:8080/carrito/listado">Carrito</a>
<a href="http://localhost:8080/catalogo/listado">Catalogos</a>
<a href="http://localhost:8080/categoria/listado">Categoria</a>
<a href="http://localhost:8080/cliente/listado">Clientes</a>
<a href="http://localhost:8080/pedido/listado">Pedidos</a>
<a href="http://localhost:8080/producto/listado">Productos</a>
<a href="http://localhost:8080/promocion/listado">Promocion</a>
<a href="http://localhost:8080/proveedor/listado">Proveedor</a>
<a href="http://localhost:8080/usuario/listado">Usuarios</a>